<mat-accordion hideToggle>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
              <div class="toggle" (click)="event($event)" *ngIf="!panelOpenState">
                  <mat-icon>arrow_forward_ios</mat-icon>
              </div>
              <div class="toggle-open" (click)="event($event)" *ngIf="panelOpenState">
                <mat-icon>arrow_forward_ios</mat-icon>
            </div>
              <div class="title">
                  <span>{{panel}}</span>
              </div>
              <div class="line"></div> 
            </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{panelOpen}}</p>
    </mat-expansion-panel>
</mat-accordion>
  