<div class="title" [formGroup]="formGroup">
    <div>
        <span>Responsável Nível {{responsavel.nivel}}:</span>
    </div>
    <div class="select">
        <select class="form-select" (change)="selectChangeHandler($event)" [formControlName]="controlName">
            <option value="" >
                Escolha um responsável
            </option>
            <option *ngFor="let nome of nomes" value="Nível: {{responsavel.nivel}} - {{nome}}">
                {{nome}}
            </option>
        </select> 
    </div>
</div>

