<div class="title">
    <span>Responsável Nível {{responsavel.nivel}}:</span>
</div>
<form [formGroup]="formulario">
    <div class="select">
        <select mat-select class="form-select" (change)="selectChangeHandler($event)">
            <option value="Escolha um responsável" selected disabled>
                Escolha um responsável
            </option>
            <option *ngFor="let nome of nomes"value="Nível: {{responsavel.nivel}} - {{nome}}">
                {{nome}}
            </option>
        </select> 
    </div>
</form>

